.signinform{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	width: 300px;
	margin: 20px;
	border: 1px solid; 
}
.formBody{
	display: flex;
	justify-content: center;
	

}
.btn{
	fontSize:20px; 
	margin:20px;
	padding: 6px;
	border:1px solid;
	border-radius: 4px;
	background-color: gray;
}
.btn:hover{
	cursor: pointer;
	background-color: blue;
}