h2{
	color: red;
	background-color: rgba(200, 100,0 ,0.4 );
	text-align: center;
	border: 1px dashed gray;
}

li{
	list-style: none;
	display: inline-block;
}
#aboutImg{
	width: 200px;
	float: right;
	border: 2px solid blue;
	padding: 2px 12px;
}

footer{
	background-color: rgba(200,200,200	,0.6);
	padding: 10px 0px;
	text-align: center;	
	clear: both;
}