/*
slecteur{
	propriete: valeur;
}
*/
body{
	background-image: url(../nat.jpg);
	background-size: cover;
}

h2{
	color: red;
	background-color: rgba(200, 100,0 ,0.4 );
	text-align: center;
	border: 1px dashed gray;
	font-family: Georgia, "Times New Roman";
}
li{
	list-style: none;
	display: inline-block;
}
div{
	border:2px solid red;
	background-color: rgba(100,100,0,0.6);
}
span{
	border-style: double;
	border-color: black;
	border-width: 1px 4px 1px 4px;
}
.actif span:hover{
	background-color: rgb(0,0,255,0.6);
}

div:last-child{
	font-style: italic;
}
div:first-child{
	font-weight: bold;
}

.text {
	color: green;
	font-family: 'Indie Flower', cursive;
}

div .text {
	color: magenta;
}
 div > .actif{
 	font-style: italic;
 	font-size: 1.5em;
 }




