.bd{
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
}
.robot{
	
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	width: 360px;
	height: 500px;


}
.tete{
	width: 200px;
	height: 160px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 10px;
	border-radius: 100px 100px 0px 0px;
	transition: all 1s;
	position: relative;g
	
}
.tete:hover{
	width: 260px;
	
}
.corp{
	display: flex;
}
.oeilD, .oeilG{
	background-color: white;
	width: 20px;
	height:20px;
	border-radius: 20px;
}
.oeilG{
	position: absolute;
	top: 100px;
	left: 40px;

}
.oeilD{
	position: absolute;
	top: 100px;
	left: 120px;

}
.cp{
	background-color: magenta;
	width: 200px;
	height: 200px;
	border-radius: 0px 0px 20px 20px;
}
.mg, .md{
	background-color: red;
	width: 60px;
	height: 140px;
	border-radius: 40px;
	transition: all 1s;
}
.mg{
	margin-left: 20px;
}
.md{
	margin-right: 20px;
}
.mg:hover{
	transform: rotate(-20deg);
}
.md:hover{
	transform: rotate(20deg);
	
}


.pieds{
	display: flex;
	justify-content: space-between;
	margin: 0px;

}

.pg, .pd{
	width: 60px;
	height: 140px;
	margin: 0px 20px;
	border-radius: 0px 0px 40px 40px;
	transition: all 1s;
}

.pg, .pd, .mg, .md, .tete, .cp{
	background-color: blue;
}