h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.robots {
	display: flex;
	justify-content: center;
	background-color: gray;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 /*background-color: green;#5f93e8;*/
}

.head { 
	width: 200px;
	height: 160px;
	display: flex;
	background-color: green;
	margin:auto; 
	
} 

.eyes {
	background-color: blue;
	display: flex;
	width: 200px;
	

}

.head:hover {

}

.upper_body { 
	display: flex;


} 

.left_arm, .right_arm { 
	width:60px;
	height: 140px;
	background-color: black;

} 

.left_arm { 
	margin-right: 10px;
} 

.right_arm { 
	margin-left: 10px;
} 

.torso { 
	width: 200px;
	height: 200px;
	margin-top: 10px;
	background-color: yellow;

} 

.lower_body { 
	width: 200px; 
	height: 200px;
	display: flex;
	justify-content: space-between;
	background-color: red;
	margin: 0 auto; 

} 

.left_leg, .right_leg { 
	width:60px;
	height: 140px;
	background-color: magenta;


} 

.left_leg { 
	margin-right: 10px;

} 

.left_leg:hover {

}

.right_leg:hover {


}

.right_leg { 
	margin-left: 10px;
}

.left_eye, .right_eye { 
	background-color: red;
	height: 20px;
	width: 20px;


 
} 

.left_eye { 
	position: relative; 
	top: 100px; 
	left: 40px; 


} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 40px; 

}





