body{
	font-size: 20px;
}
nav{
	text-align: right;
}
p{
	text-align: justify;
	font-size: 0.5em;
}
.del{
	text-decoration: line-through;
	font-size: 2em;

}
.upper{
	text-decoration: underline;
	font-size: 2rem;
}

h2{
	color: white;
	text-align: center;
	border: 4px solid rgba(200, 200, 130, 0.6);
	background-color: black;
	cursor: pointer;
}

li{
	list-style: none;
	display: inline-block;
}

#aboutImg{
	border: 2px solid gray;
	width: 200px;
	margin: 8px 12px; /*top-bottom left-right*/
	padding: 16px 8px 16px 8px;/* top right bottom left*/
	float: right;
	
}
footer{
	clear: both;
	text-align: center;
	background-color: rgba(100,100,100,0.5);
}