*{
	text-align: right;
}
body{
	background-image: url(nat.jpg);
	background-size: cover;
}
h2{
	color: white;
	text-align: center;
	border: 4px solid rgba(100, 200, 130, 0.1);
	background-color: black;
	cursor: pointer;
}
p{
	color: white;
	text-align: left;
}
li{
	list-style: none;
	display: inline-block;
}
.text{
	border: 1px dashed blue;
}
.actif{
	color: magenta;
}
#div1{
	border: 2px solid red;
	background-color: rgba(200, 0, 0, 0.3);
}
#div1, #div2{
	border: 2px solid red;
	background-color: rgba(200, 0, 0, 0.3);
}
span{
	border: 1px dashed black;
}
div span{
	background-color: yellow;
}
div>span{
	background-color: green;
}
div+p{
	background-color: green;
	font-weight: bold;
}
span:hover{
	font-size: 2em;
}
.text:first-child{
	color: black;
}
.text:last-child{
	color: red;
}