nav{
	text-align: right;
}
li{
	list-style: none;
	display: inline-block;
}
h2{
	text-align: center;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	width: 300px;
	font-size: 3em;
	box-shadow: 4px 4px 2px gray;
}
.galImg{
	width: 200px;
	height: 200px;
	transition: all 4s;
}
.galImg:hover{
	transform: scale(1.2);
}
.galerie{
	display: flex; /*inline-flex;*/
	flex-wrap: wrap;
	justify-content:  center;
}
footer{
	clear: both;
	text-align: center;
	background-color: rgba(100,100,100,0.5);
}